<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	 version="3.0">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>Data.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RegistroPersonaServlet</display-name>
    <servlet-name>RegistroPersonaServlet</servlet-name>
    <servlet-class>Data.RegistroPersonaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroPersonaServlet</servlet-name>
    <url-pattern>/RegistroPersona</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MAdoptaServlet</display-name>
    <servlet-name>MAdoptaServlet</servlet-name>
    <servlet-class>Data.MAdoptaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MAdoptaServlet</servlet-name>
    <url-pattern>/MAdopta</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>RegistroMascotaServlet</display-name>
    <servlet-name>RegistroMascotaServlet</servlet-name>
    <servlet-class>Data.RegistroMascotaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistroMascotaServlet</servlet-name>
    <url-pattern>/RegistroMascota</url-pattern>
  </servlet-mapping>

</web-app>
