@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');
@import url('https://fonts.googleapis.com/css?family=Poppins');
body{
    background-image: url("../Resourses/fondos/FCon.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 5vh;
    padding-left: 3vw;
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
div{
    float: left;
}
.mensaje{
    width: 45vw; 
    height: 87.5vh; 
    background: rgba(162, 0, 44,0.6); 
    padding-left: 15px;
    color: white;
    padding-top: 15px;
    box-shadow: 1px 1px 10px 0px black;
}
.comentario{
    height: 87.5vh;
    width: 45vw; 
    background: rgba(255,255,255,0.6); 
    margin-left: 3vw;
    padding-left: 15px;
    padding-top: 15px;
    box-shadow: 1px 1px 10px 0px black;
}
.texto{
    height:6.5vh;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgba(255, 255, 255, 0.7);
}
.texto:hover{
    border-color: #ffff00;
}
.titulo{
    font-family: 'Kirang Haerang';
    font-size: 3em;
}
.notas{
    font-size: 10px;
}
#correo{
    width: 65%;
}
#contra{
    width: 28%;
}
textarea{
    resize: none;
    width: 93%;
    height: 40%;
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    margin-bottom: 2px;
}
textarea:hover{
    border-color: #ffff00;
}
input[type="submit"]{
    background:white;
    color: black;
    transition: .5s;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    width: 8vw;
    height: 5vh;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 5px;
}
[type="submit"]:hover{
    background: #ffff00;
    border: 3px solid #ffff00;
    font-size: 18px;
}
input[type="radio"]{
    
}
