body{
    background: url(../Resourses/Images/estrellas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    font-family: '';
    font-size: 14px;
}
